@font-face {
  font-family: ReadexPro;
  src: url(sansation_light.woff);
}

html {
  color: #3f3a45;
  scroll-behavior: smooth;
  margin: 0;
  background-attachment: absolute;
  background-color: #faf3dd;
  font-size: 18px;
  font-family: "Seaford", sans-serif;
  overflow-y: hidden;
}

body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  position: static;
}

.website-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 1vmin 0 0 0;
  background-color: #ffcb47;
  background-position: center;
  text-align: center;
}

.website-title {
  color: #faf3dd;
  font-size: 4vmin;
  font-weight: bolder;
}

.title-button {
  border: 5px solid;
  font-weight: bold;
  width: 125px;
  border-radius: 25px;
  background-color: #faf3dd;
  color: #ffcb47;
  padding: 7.5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vmin;
  margin: 1vmin 2.75vmin;
  white-space: nowrap;
  transition: 0.25s;
  display: inline-block;
  cursor: pointer;
}

.title-button:hover, .title-button:focus{
  background-color: #ffcb47;
  color: #faf3dd;
  border-color: #faf3dd;
  border-width: 5px;
  padding: 5px 18.5px;
}

.white-border {
  border-top: 0.5vmin dashed #faf3dd;
  margin: 0 0 1vmin 1vmin;
}

.yellow-border {
  border-top: 7.5px dashed #ffcb47;
  margin: 7.5px;
}

.artwork-content {
  padding: 1vmin 0 0 0;
  height: calc(100vh - 14vmin);
  overflow-y: scroll;
}

.artwork {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.art-section {
  font-size: 3vmin;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.art-preview {
  display: block;
  width: 100%;
  max-width: 23vh;
  height: auto;
  margin: 15px;
  transition: 0.25s;
}

.art-container {
  position: relative;
  display: inline-block;
}

.art-full {
  position: fixed;
  width: auto;
  max-width: 90vw;
  height: auto;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.art-text {
  color: white;
  position: absolute;
  text-align: center;
  font-weight: bold;
  width: 12em;
  opacity: 0;
  font-size: 1.75vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
}

h-art {
  font-size: 2vh;
}

.artwork button {
  background-color: inherit;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  transition: 0.25s;
}

.artwork.active {
  pointer-events: none;
}

.artwork button:hover .art-preview{
  filter: brightness(50%);
}

.art-container button:hover .art-text{
  opacity: 1;
}

.art-container button.active .art-text{
  opacity: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d2b30;
  z-index: 5;
  opacity: 0.5;
}

.art-appear {
  animation: art-fadeIn 0.3s;
}

@keyframes art-fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

.art-disappear {
  animation: art-fadeOut 0.3s;
}

@keyframes art-fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0;}
}

.overlay-appear {
  animation: overlay-fadeIn 0.3s;
}

@keyframes overlay-fadeIn {
  0% { opacity: 0; }
  100% { opacity: 0.5; }
}

.cv-content{
  height: calc(100vh - 18vmin);
  padding: 1vmin 25px 50px 25px;
  text-align: left;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

h3 {
  color: #3f3a45;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

h4 {
  color: #3f3a45;
  font-size: 1.25em;
  margin: 25px 0px 0px 0px;
  font-weight: bold;
}

.break{
  height: 15px;
  border-width: 0px;
  background-color: #ffcb47;
}

.state{
  padding: 15px 0px 0px 0px;
  font-weight: bold;
}

.explain{
  font-style: italic;
}

.year{
  float: right;
  font-weight: bold;
  font-style: italic;
}

.title {
  scroll-margin-top: 12.5vmin;
}

.contact-content{
  height: calc(100vh - 13vmin);
  overflow-y: hidden;
  align-items: center;
  justify-items: center;
  display: flex;
  justify-content: space-around;

}

.contact-button {
  margin: 25px;
  width: 80%;
  max-width: 23vh;
  height: auto;
  transition: 0.25s;
}

.contact-button:hover {
  filter: brightness(110%)  saturate(80%);
}